<style>
	html {
		font-family: sans-serif;
	}
</style>

<% if @inquiry.name != nil %>
	<p>Hallo <strong><%= @inquiry.name %></strong>,</p>
<% else %>
	<p>Hallo <strong><%= @inquiry.email %></strong>,</p>
<% end %>

<p>Vielen Dank für Ihre Nachricht.</p>

<p>Ich habe Ihre Anfrage erhalten und bin momentan dabei, diese zu püfen. Ich werde so schnell wie möglich mit Ihnen in Kontakt treten.</p>

<p>Liebe Grüsse,</p>

<p>Cornelia</p>

<%= link_to "Hier geht's zurück zur Homepage", root_url %>
