// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// bright colours:
$bright-rose: #ff70a6;
$bright-blue: #70d6ff;
$bright-orange: #ffb700;
$bright-orange-1: #ff7b00;
$bright-orange-2: #dc2f02;
$bright-yellow: #fdf148;
$bright-green: #a0e426;
$bright-purple: #9336fd;
$bright-turkese: #52e3e1;
$bright-turkese-1: #33a8c7;

// light colours:
$light-rose: #fde2e4;
$light-rose-1: #fad2e1;
$light-brown: #fff1e6;
$light-gray-1: #f0efeb;
$light-blue: #bcd4e6;


// yellow colours:
$yellow-1: #fdf8e1;
$yellow-2: #fcefb4;
$yellow-3: #fae588;
$yellow-3: #ffc300;
$yellow-4: #ffb700;
