<style>
	html {
		font-family: sans-serif;
	}
</style>

<p>Hallo <strong><%= @user.email %></strong>,</p>

<p>Wilkommen bei Ji Dok Che.</p>

<p>Sie wurden erfolgreich angemeldet. Es freut mich, dass Sie bei uns sind.</p>

<%= link_to "Hier geht's zurück zur Homepage", root_url %>