// Specific CSS for your home-page


body {
	background-color: $yellow-3;
}

h1 {
	color: $bright-orange-1;
}

h2 {
	color: $bright-orange-1;
}

label {
	color: $bright-orange-1;
}

.background-main {
	background-color: $yellow-1;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 330px;
  gap: 0px 34px;
  grid-template-areas:
    "Card-1 Card-2 Card-3";
  margin-top: 55px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .background-main {
  	padding: 12px; 
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .background-main {
  	padding: 24px; 
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .background-main {
  	padding: 36px; 
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .background-main {
  	padding: 48px; 
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .background-main {
  	padding: 64px; 
  }
}
