.banner-div {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
}

.banner-div h1 {
  color: $bright-orange-1;
  font-size: 40px;
  font-weight: bold;
}

.banner-div p {
  
}

.fa-om {
  color: $bright-orange-1;
  font-size: 80px;
  padding-top: 24px;
}